{% extends "base.html" %}

{% block title %}View Ended Auction Event{% endblock %}

{% block content %}
    <h2>{{ auction_event.item.title }}</h2>
    <div class="info">
        This auction has ended.
        {% ifequal auction_event.winning_bidder request.user.user %}
            Congratulations! You won this auction.
        {% endifequal %}
        {% ifequal auction_event.item.seller request.user.user %}
            You are selling this item.
        {% endifequal %}
    </div>
    <p><strong>Final Price: </strong>${{ auction_event.get_current_price }}</p>
    
    <p><strong>Shipping Fee: </strong>${{ auction_event.shipping_fee }}</p>
    
    <p><strong>Condition: </strong>{{ auction_event.item.get_condition }}</p>
    
    <p><strong>Seller: </strong>{{ auction_event.item.seller.username }}</p>
    
    <p><strong>Category: </strong>{{ auction_event.item.category }}</p>
    
    <p><strong>Shipping Method: </strong>{{ auction_event.get_shipping_method }}</p>
    
    <p><strong>End Time: </strong>{{ auction_event.end_time|date:"g:i A, j N Y" }}</p>
    
    {% if auction_event.shipping_detail %}
        <p><strong>Shipping Detail: </strong>{{ auction_event.shipping_detail }}</p>
    {% endif %}
    
    {% if auction_event.shipping_detail %}
        <p><strong>Payment Detail: </strong>{{ auction_event.payment_detail }}</p>
    {% endif %}
    
    <p>{{ auction_event.bids.count }} bid(s) placed. <a href="{% url lebay_view_bid_history auction_event.pk %}">View bid history.</a></p>
    <hr />
    <h3>Description:</h3>
    {{ auction_event.item.description|safe }}</p>
{% endblock %}