{% extends "base.html" %}

{% block title %}{{ category.title }}{% endblock %}

{% block content %}
    <h2>{{ category.title }}</h2>
    <p>{{ category.description|safe }}</p>
    <br />
    <table cellpadding=0 cellspacing=0 class="contenttable">
        <thead>
            <tr>
                <td>Title</td>
                <td>Condition</td>
                <td>Price</td>
                <td>Ending on</td>
            </tr>
        </thead>
        <tbody>
            {% for auction_event in auction_page.object_list %}
                <tr>
                    <td><a href="{% url lebay_view_auction_event auction_event.pk %}">{{ auction_event.item.title|title }}</a></td>
                    <td>{{ auction_event.item.get_condition }}</td>
                    <td>${{ auction_event.get_current_price }}</td>
                    <td>{{ auction_event.end_time|date:"g:i A, j N Y" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if auction_page.count %}
        {% with auction_page as page %}
            {% include "paginator.html" %}
        {% endwith %}
    {% endif %}
{% endblock %}